.navbar {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.my-icon {
  color: rgb(255, 255, 255) !important;
}
.navbar-brand {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.navbar-logo {
  width: 170px;
  margin-right: 10px;
}

.navbar-toggler {
  background-color:transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  margin-top: -1px;
  align-items: center;
  justify-content: flex-start; /* Align the icon to the left */
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  width: 30px;
  height: 30px;
  background-color: rgb(238, 234, 24);
  color: #ff9800;
  transition: background-color 0.3s ease;
  margin-top: 90px;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #bd0e0e; /* Keep the color as white */
  transition: background-color 0.3s ease;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  background-color: white;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-color: white;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-nav .nav-link {
  position: relative;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
  transition: color 0.3s ease;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  width: 1px;
  height: 70%;
  background-color: transparent;
}

.navbar-nav .nav-item:last-child .nav-link::after {
  display: none; /* Hide the vertical line after the last link */
}

.navbar-nav .nav-link:hover {
  color: #ff9800;
}

.btn0 {
  background-color: darkorange;
  color: #fff;
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  width: 200px; /* Adjust this width for laptop view */
  transition: background-color 0.3s ease;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

.btn0:hover {
  background-color: #bba3df;
}

@media (max-width: 767px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 10px;
  }

  .navbar-brand {
    order: 2; /* Move logo to the center */
    text-align: center;
    margin: 0 auto; /* Center the logo */
    margin-right: 3px;
  }

  .navbar-toggler {
    order: 2; /* Move toggle icon to the left */
    margin-left: -17px;
    justify-content: flex-start;
  }

  .btn0 {
    margin-right: 0px;
    width: 150px;
    margin-top: -2px;
    height: 40px;
    
  }
  .navbar-logo {
    width: 170px;
    margin-right: -10px;
    margin-left: -px;
  }
}
