@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
.body {
  font-family: "Archivo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.flowchart {
  display: inline-flex;
  background-image: url("./assets/Ellipse\ 17.png");
  justify-items: center;
  align-items: center;
}

.flow {
  margin-top: 50px;
  margin-left: 18rem;
}

.vectors {
  margin-top: -8rem;
  margin-left: 20rem;
}
.circle-image-5 {
  width: "85px";
  height: "85px";
  background-size: "cover";
  position: "absolute";
  top: "50%";
  left: "50%";
  transform: "translate(-60%, -70%)";
}
